@import '../../../index.scss';

.create-investor-container{
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 50px;

    &::-webkit-scrollbar {
        display: none;
      }

    .banner{
        width: 100%;
        background-image: url(../../../imgs/login/login-background.png);
        background-size: cover;
        background-position-y: -30px;
        height: 120px;
        margin-bottom: 100px;

        .image-input{
            position: relative;
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            
            img{
                width: 20vh;
                border-radius: 50%;
            }

            .input-container{
                position: absolute;
                height: fit-content;
                width: 35%;
                bottom: -10px;
                background-color: rgb(205, 205, 205);
                border-radius: 40px;

                input{
                    width: 100%;
                    opacity: 0;
                    margin: 0;
                }

                &::before{
                    width: fit-content;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    right: 0;
                    margin: auto auto;
                    content: 'Upload image';
                    color: rgb(64, 64, 64);
                }
            } 
        }
    }

    section{
        padding: 0 35px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-name{
            width: 100%;
            height: fit-content;
        }
        .input-about-me{
            width: 100%;
            height: fit-content;
        }

        .input-investment-criteria{
            width: 100%;
            height: fit-content;
        }

        .input-country-container{
            width: 100%;
            height: fit-content;
        }

        .areas-container{
            margin-top: 10px;
            margin-bottom: 10px;
            .label-areas{
                color: black;
                text-align: left;
                font-weight: bold;
            }

            .areas-of-interest{
                margin-top: 5px;
                background-color: #EAEAEA;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
                padding: 1vw;
    
                .button-container{
                    position: relative;
                    margin: 1.5vw 1vw;
    
                    .area-button{
                        padding: 0.5vh 5vw;
                        background-color: #D9D9D9;
                        border-radius: 100px;
                        border: none;
                        text-align: left;
                        font-size: 15px;
    
                        &:active{
                            background-color: #c5c5c5;
                        }
                    }
                }
            }
        }

        .investment-range-container{
            margin-top: 10px;
            width: 100%;

            label{
                color: black;
                text-align: left;
                font-weight: bold;
            }

            p{
                margin: 0;
            }

            .investment-inputs{
                display: flex;
                //justify-content: space-between;
                align-items: center;

                input{
                    width: 80%;
                }
            }
        }

        .investment-type-container{
            width: 100%;
            margin: 10px 0;

            label{
                color: black;
                text-align: left;
                font-weight: bold;
            }

            .img-container{
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 15vw
                }
            }

            .investment-type-checks{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                .check-container{
                    margin-right: 5vw;
                    display: flex;
                    flex-direction: column;

                    input{
                        transform: scale(1.5);

                        &:checked{
                            accent-color: $pink;
                        }
                    }
                }
            }
        }

        .create-profile-button{
            background-color: $pink;
            width: 100%;
            border-radius: 10px;
            height: 50px;
            border: none;
            color: white;
            font-size: 20px;
            margin-top: 20px;

            &:active{
                background-color: rgba(255, 77, 77, 0.741);
            }
        }
    }
}