@import '../../../../../../index.scss';

.enterprise-profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 100%;

    .export-pdf{
        position: absolute;
        top: -50px;
        right: 10px;
    }
    .banner{
        width: 100%;
        height: 100px;
        position: relative;
        background-image: url(../../../../../../imgs/login/login-background.png);
        background-size: cover;
        background-position-y: -30px;

        .edit-btn{
            position: absolute;
            top: 10px;
            right: 10px;
            color: rgba(255, 255, 255, 0.694);
            background-color: transparent;
            border: none;
            font-size: 30px;
            z-index: 10;
        }

        .logout-btn{
            position: absolute;
            top: 10px;
            left: 10px;
            color: rgba(255, 255, 255, 0.694);
            background-color: transparent;
            border: none;
            font-size: 20px;
            z-index: 10;
        }

        .back-button{
            color: white;
            font-size: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .container{
            width: fit-content;
            position: absolute;
            bottom: -75px;
            right: 0;
            left: 0;
            margin: auto auto;
            .profile-picture{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }

            .invest-button{
                position: absolute;
                bottom: -10px;
                right: 0;
                left: 0;
                margin: auto auto;
                background-color: $light-blue;
                border: none;
                border-radius: 100px;
                color: white;
                font-size: 20px;
                padding: 7px 0;
                font-weight: bold;
                display: flex;
                justify-content: space-around;
                align-items: center;

                svg{
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }

    .enterprise-data{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        position: relative;

        h1{
            width: 100%;
            margin-bottom: 0;
            text-align: center;
            margin-top: 10px;
        }

        .location{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h6{
                text-align: center;
                width: 100%;
                font-size: 17px;
                margin: 5px 0;
                color: rgba(0, 0, 0, 0.659);
                margin-left: 5px;
            }
        }



        .progress-bar{
            margin-top: 10px;
            width: 90%;

            .numbers{
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                p{
                    margin: 0;
                    font-weight: bold;
                }
            }
        }

        h4{
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            width: 90%;
        }
        
        .enterprise-description{
            width: 90%;
            text-align: left;
            background-color: #EAEAEA;
            padding: 0 10px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .areas{
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            .area{
                background-color: #D9D9D9;
                color: black;
                border-radius: 100px;
                padding: 1px 7px;
                margin-bottom: 5px;
                font-size: 13px;
                &:not(:last-child) {
                    margin-right: 5px; /* Espacio entre elementos */
                }
            }
        }
    }

    .delete-btn{
        margin-top: 40px;
        width: 100%;
        height: 60px;
        background-color: rgba(255, 0, 0, 0.637);
        color: white;
        border: none;
        font-size: 15px;
    }

    .edit-new-bg{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        .edit-new-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            height: 78%;
            background-color: white;
            border-radius: 10px;
            margin-top: 2vh;
            padding: 5px;
            box-sizing: border-box;
            position: relative;

            .close-btn{
                position: absolute;
                top: 5px;
                right: 10px;
                background-color: transparent;
                color: #000000;
                border: none;
                font-size: 15px;
                padding: 0 10px;
                border-radius: 100px;
                width: fit-content;
                height: 30px;
                text-align: center;
            }

            .delete-post-btn{
                position: absolute;
                top: 5px;
                left: 10px;
                background-color: transparent;
                color: #ED4E67;
                border: none;
                font-size: 15px;
                padding: 0 10px;
                border-radius: 100px;
                width: fit-content;
                height: 30px;
                text-align: center;
            }

            h1{
                margin: 0;
                text-align: center;
                width: 90vw;
                margin-top: 0;
                margin-bottom: 1dvh;
                font-size: 20px;
            }
        
            section{
                width: 90vw;
                margin-bottom: 10px;
            }
        
            .title{
                
            }
        
            .image{
                position: relative;
        
                label{
                    color: black;
                    text-align: left;
                    font-weight: bold;
                    width: 100%;
                }
        
                .image-container{
                    margin-top: 5px;
                    width: 100%;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border: solid 1px rgba(0, 0, 0, 0.192);
                    border-radius: 10px;
                }
        
                input{
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    margin: auto auto;
                    width: 100%;
                    opacity: 0;
                }
        
                &::before{
                    width: fit-content;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    right: 0;
                    margin: auto auto;
                    content: 'Upload image';
                    color: black;
                    background-color: rgb(214, 214, 214);
                    padding: 5px 10px;
                    border-radius: 100px;
                }
        
                .error{
                    border: solid 1px red;
                }
        
                .image-error{
                    color: red;
                    font-size: 15px;   
                    position: absolute;
                    bottom: -40px;     
                }
            }
        
            .description{
                textarea{
                    height: 100px;
                }
            }
        
            .submit{
                background-color: $pink;
                margin-top:10px;
                width: 90vw;
                border: none;
                border-radius: 100px;
                color: white;
                font-size: 20px;
                padding: 10px 0;
        
                &:disabled{
                    opacity: 0.5;
                }
            }
        }
    }

    .pop-up-export{
        background-color: rgba(0, 0, 0, 0.656);
        position: fixed;
        width: 100%;
        height: calc(100dvh - 50px);
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    
        .pop-up-content{
            width: 80%;
            height: fit-content;
            background-color: $light-blue;
            border-radius: 15px;
            padding: 20px;
            box-sizing: border-box;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h2{
                font-size: 25px;
                font-weight: normal;
                margin: 0;
                text-align: center;
                margin-bottom: 20px;
            }
    
            label{
                color: white;
            }
    
            p{
                margin-bottom: 0;
            }

            .time-fiter{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    background-color: white;
                    color: black;
                    border: none;
                    font-family: Arial, Helvetica, sans-serif;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 15px;
                }
            }

            .buttons{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;

                .export{
                    background-color: white;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    color: rgb(0, 0, 0);
                    font-size: 15px;
                    padding: 5px 0;
            
                    &:disabled{
                        opacity: 0.5;
                    }
                }

                .cancel{
                    background-color: rgba(255, 255, 255, 0.596);
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    margin-top: 5px;
                    color: rgb(0, 0, 0);
                    font-size: 15px;
                    padding: 5px 0;
        
                }
            }
        }
    }
 }