@import '../../../index.scss';

.login-page{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../../../imgs/login/login-background.png');
    background-position: center;
    margin: 0;
    overflow: hidden;
    color: white;
    z-index: 0;
    
    h1{
        text-align: center;
        z-index: 1;
        font-size: 40px;
    }

    .form-container{
        overflow: hidden;
        height: fit-content;
        padding: 5% 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .modern-input-container{
            margin-bottom: 10px;
        }

        .button{
            margin-top: 50px;
            width: 200px;
            height: 50px;
            font-size: 20px;
            border-radius: 10px;
            border: none;
            color: black;
        }
    }

    .register{
        z-index: 1;
        text-align: center;
        margin-top: 20px;

        p{
            margin: 0;
            margin-bottom: 5px;
            font-size: 15px;
        }

        a{
            font-weight: bold;
            text-decoration: underline;
            color: white;
        }
    }
}