.home-container{
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    h1{
        width: 90vw;
        text-align: left;
        margin: 0;
    }

    h2{
        font-size: 20px;
        text-align: left;
        width: 90%;
    }
}