@import '../../../index.scss';


.register-page{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../../../imgs/register/register-background.png');
    margin: 0;
    overflow-x: hidden;
    color: white;
    z-index: 0;


    .form-container{
        height: fit-content;
        padding: 5% 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin-top: 30px;
        overflow-x: hidden;

        h1{
            text-align: center;
            z-index: 1;
            font-size: 40px;
        }

        .select-container{
            display: flex;
            flex-direction: column;
            width: 75%;

            label{
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            select{
                font-size: 20px;
                background-color: rgba(255, 255, 255, 0.801);

                &:focus{
                    outline: none;
                }
            }
        }

        .button{
            margin-top: 50px;
            width: 200px;
            height: 50px;
            font-size: 20px;
            border-radius: 10px;
            border: none;
            color: black;
            background-color: white;

            &:disabled{
                background-color: #ffffff8c;
            }
        }
    }

    .login{
        z-index: 1;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        p{
            margin: 0;
            margin-bottom: 5px;
            font-size: 15px;
        }

        a{
            font-weight: bold;
            text-decoration: underline;
            color: white;
        }
    }
}

@keyframes popup {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}