.read-news-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    h1{
        margin: 0;
        width: 90vw;
        text-align: left;
        margin-top: 2dvh;
    }

    .news-cotainer{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .load-button{
        width: 90vw;
        display: flex;
        border-radius: 1000px;
        border: none;
        background-color: #09495D;
        justify-content: center;
        color: white;
        padding: 10px 0;

        &:active{
            background-color: #083947;
        }
    }
}