.forgot-page{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../../../imgs/login/login-background.png');
    background-position: center;
    margin: 0;
    overflow: hidden;
    color: white;
    z-index: 0;

    .back-button{
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 100px;
        padding: 5px 10px;
        font-size: 15px;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .form-container{
        overflow: hidden;
        height: fit-content;
        padding: 5% 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .modern-input-container{
            margin-bottom: 10px;
        }

        .button{
            margin-top: 50px;
            width: 200px;
            height: 50px;
            font-size: 20px;
            border-radius: 10px;
            border: none;
            color: black;
        }
    }
}